/* Center all the elements with these class names */
.clock,
.display-panel,
.display,
.divider {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.clock {
  /* Shrink this element so it only just fits its contents and no bigger or smaller */
  width: fit-content;
  padding: 10px;
  border: 2px solid black;
  color: white;
  align-items: center;
}

.display-panel {
  width: 400px;
  padding: 10px;
  background-color: #A9A9A9;
  align-items: center;
}

.display {
  width: 35px;
  align-items: center;
}

.divider {
  width: 10px;
}
