.break-time-container {
  width: 443px;
  height: 50px;
  margin-top: 10px;
  align-items: center;
}

.work-time,
.break-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  color: white;
}

.work-time {
  background-color: darkseagreen;
  align-items: center;
  border: 2px darkseagreen
  /* 
   * Add some background color and any other decorative means
   * to make it visually different from break-time
   */
}

.break-time {
  background-color: seagreen;
  align-items: center;
  border: 2px seagreen;
  /* 
   * Add some background color and any other decorative means
   * to make it visually different from work-time
   */
}

.hidden {
  display: none;
}
